@import 'hidentocustomvariables';

.hidento-title{
    color:$hidento-heading-font-color;
    font-weight:bold;
    padding-left:0.5rem;
}

.top-bar-menu:hover{
    background-color:$hidento-dark-background-color;
    border-radius: 4px;
}