$hidento-background-color:#00eeff;
$hidento-dark-background-color:#00ddee;
$hidento-heading-font-color:#ffffff;
$hidento-font-color:#0000ff;
$hidento-button-border-radius:4px;

// Modified settings list:

//@import '../node_modules/foundation-sites/scss/util/util'; (set correct util/utli path)
//@import 'hidentocustomvariables'
//$topbar-background: $hidento-background-color;
//$topbar-padding: 0.2rem;
//$dropdownmenu-arrow-color: $hidento-background-color;
//$dropdownmenu-arrow-padding: 5.5rem;
