$hidento-background-color:#aaeeff;
$hidento-dark-background-color:#99ddee;
$hidento-heading-font-color:#ffffff;
$hidento-font-color:#0000ff;

// Modified settings list:

//@import '../node_modules/foundation-sites/scss/util/util'; (set correct util/utli path)
//@import 'hidentocustomvariables'
//$topbar-background: $hidento-background-color;
