
.nav-link:hover, .hidento-dropdown:hover, .social-icon:hover{
    background-color:#ddd;
    border-radius:5px;
}

.hidento-content{
    background-color:#999999;
    min-height: 100%;
    position: relative;
}

.hidento-main-content{
    padding-top: 4.2rem;
    padding-bottom: 2.6rem;
    min-height:100vh;
}

.hidento-home-center{
    width:20%;
    left:50%;
    margin-left:-10%;
    position:relative;
    top: 50%;
  -webkit-transform: translateY(-50%);

/*  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.hidento-footer{
    bottom:0;
    position:absolute;
    width:100%;
    height:2.5rem;
}

.hidento-footer-left{
    margin-top:auto;
    margin-bottom:auto;
    float:left;
    padding-left:1.5rem;
    bottom:0;
    position:absolute;
}

.hidento-footer-right{
    margin-top:auto;
    margin-bottom:auto;
    float:right;
    padding-right:1.5rem;
    bottom:0;
    right:0;
    position:absolute;
}

.hidento-footer-link{
    color:#aaa;
    text-decoration:none;
    margin-left:1.5rem;
}

.hidento-footer-link:hover, .hidento-footer-link:active, .hidento-footer-link:focus, .hidento-footer-link:visited, .hidento-footer-link:link{
    color:#aaa;
    text-decoration:none;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.dropdown-menu {
    margin-top: -1px;
}

.hidento-form-error{
    text-align:left;
    color:red;
    font-size:0.8rem;
}

.hidento-login-error{
    color:red;
    font-size:1rem;
}

a, a:hover, a:active, a:focus, a:visited, a:link{
    text-decoration:none;
    border:none;

}

.hidento-crush{

}

.hidento-crush-username{
    font-size:1.4rem;
}

.hidento-crush-nickname{
    font-size:0.9rem;
}

.hidento-link-cell{
    background-color:transparent;
}