
.navbar-light .navbar-brand {
    color: #009900;
}

.navbar-light .navbar-nav .nav-link {
    color: #009900;
}

.navbar-light .navbar-toggler {
    border-color: #006600;
}

.navbar-light .navbar-brand:hover {
    color: #009900;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #009900;
}



.nav-link:hover, .hidento-dropdown:hover, .social-icon:hover{
    background-color:#ddd;
    border-radius:5px;
}


.hidento-heading-font{
    font-size:1.2rem;
}

.hidento-footer-left{
    margin-top:auto;
    margin-bottom:auto;
    float:left;
    padding-left:1.5rem;
    bottom:0;
    position:absolute;
}

.hidento-footer-right{
    margin-top:auto;
    margin-bottom:auto;
    float:right;
    padding-right:1.5rem;
    bottom:0;
    right:0;
    position:absolute;
}

.hidento-footer-link{
    color:#aaa;
    text-decoration:none;
    margin-left:1.5rem;
}

.hidento-footer-link:hover{
    color:#aaa;
    text-decoration:none;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.dropdown-menu {
    margin-top: -1px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #990000;
    background-color: #f8f9fa;
}

