
.nav-link:active, .hidento-dropdown:active{
    background-color:#ddd;
    border-radius:5px;
}

.mobile-footer {
    display: flex;
    justify-content: center;
    width:70%;
    bottom:0;
    position:absolute;
    right:25%;
    left:50%;
    margin-left:-35%;
}