
.nav-link:hover, .hidento-dropdown:hover{
    background-color:#50001c;
    border-radius:5px;
}

.hidento-content{
    min-height: 100%;
    position: relative;
}

.hidento-main-content{
    padding-top: 4.2rem;
    padding-bottom: 2.6rem;
    min-height:100vh;
}

.hidento-home-center{
    /*width:50%;
    /*left:50%;
    margin-left:-10%;*/
    /*position:relative;
    top: 46%;
  /*-webkit-transform: translateY(-50%);*/

/*  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.hidento-footer{
    bottom:0;
    position:absolute;
    width:100%;
    height:2.5rem;
}

.hidento-footer-left{
    margin-top:auto;
    margin-bottom:auto;
    float:left;
    padding-left:8.33%;
    bottom:0;
    position:absolute;
}

.hidento-footer-right{
    margin-top:auto;
    margin-bottom:auto;
    float:right;
    padding-right:8.33%;
    bottom:0;
    right:0;
    position:absolute;
}

.hidento-footer-link{
    margin-left:1.5rem;
}

.social-icon{
    font-size:1.7rem;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.dropdown-menu {
    margin-top: -1px;
}

.hidento-form-error{
    text-align:left;
    color:red;
    font-size:0.8rem;
}

.hidento-login-error{
    color:red;
    font-size:1rem;
}

.hidento-crush-username{
    font-size:1.4rem;
}

.hidento-crush-nickname{
    font-size:0.9rem;
}

.hidento-link-cell{
    background-color:transparent;
}

.hidento-label{
    font-weight:bold;
    font-size: 0.9rem;
}

.hidento-table-left{
    text-align:right;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-right:1rem;
    font-weight:bold;
    width:35%;
}

.hidento-table-left-edit{
    text-align:right;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-right:1rem;
    font-weight:bold;
    width:35%;
}

.hidento-table-right{
    text-align:left;
    padding-left:1rem;

    padding-top:0.5rem;
    padding-bottom:0.5rem;
    width:50%;
    word-wrap: break-word;
    word-break: break-all;
}

p{
word-wrap: break-word;
}

.btn-primary, btn-primary:hover, btn-primary:active, btn-primary:focus, btn-primary:visited, btn-primary:link{
    background-color:#c4a747 !important;
    color:#30000c !important;
    border:none;
}

.btn-light, btn-light:hover, btn-light:active, btn-light:focus, btn-light:visited, btn-light:link{
    color:#333333 !important;
    background-color:#e6e6e6 !important;
    border:none;
}

.hidento-row-padding{
padding-top:0.5rem;
padding-bottom:0.5rem;
}