body, html{
    height:100%;
}

body{
    padding-top:5rem;
}

.navbar-brand{
    font-size:2.5rem;
}

.hidento-background{
    background-color:#ccc;
}

.hidento-heading-color{
    color:#009900;
}

.hidento-heading-color:hover{
    color:#009900;
}

.hidento-title-color{
    color:#990000;
}

.hidento-title-color:hover{
    color:#990000;
}

.hidento-content{
    background-color:#999999;
    min-height: 100%;
    position: relative;
}

.hidento-main-content{
    padding-bottom: 2.4rem;
}

.hidento-footer{
bottom:0;
position:absolute;
width:100%;
height:2.4rem;
}

.social-icon{
    padding-left:1.5rem;
    padding-right:1.5rem;
    font-size:1.7rem;
}