body, html{
    height:100%;
}

/*body{
    padding-top:5rem;
}*/

.navbar-brand{
    font-size:2.5rem;
}

.hidento-title-color, .hidento-title-color:active, .hidento-title-color:hover, .hidento-title-color:link, .hidento-title-color:focus, .hidento-title-color:visited{
    color:#d7d7d7;
}

h2, h2:active, h2:hover, h2:link, h2:focus, h2:visited{
    color:#d7d7d7;
}

/*------------------------------------------------------------------------------------------------*/

div, .hidento-font-color, .hidento-font-color:hover, .hidento-font-color:active, .hidento-font-color:focus, .hidento-font-color:visited, .hidento-font-color:link{
    color:#fff;
}


.hidento-note-background{
    background-color:#f4f4f4;
    color:#333333; /* should be same as btn-light font color*/
    padding:0.6rem;
    border-radius:1rem;
}

.hidento-btn-light-color, .hidento-btn-light-color:hover, .hidento-btn-light-color:active, .hidento-btn-light-color:visited, .hidento-btn-light-color:focus, .hidento-btn-light-color:link{
    color:#333333; /* should be same as btn-light font color*/
}

/*above color should be applied for color in btn-light in desktop and mobile styles*/

/*---------------------------------------------------------------------------------------*/

.hidento-light-color, .hidento-light-color:hover, .hidento-light-color:active, .hidento-light-color:focus, .hidento-light-color:visited, .hidento-light-color:link{
    color:#a00014; /* lighter version of hidento-background */
    text-decoration:none;
}


/*---------------------------------------------------------------------------------------*/

.navbar-dark .navbar-toggler {
    border:none;
}

.hidento-heading-font{
    font-size:1.1rem;
}

.hidento-fb-color{
    color:#3B5998 !important;
}

.hidento-insta-color{
    color:#DD2A7B !important;
}

.hidento-twitter-color{
    color:#00ACEE !important;
}