{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
    <div style="width:90%;margin-top:2.3rem;margin-bottom:3.5rem">
        <h2 class="mb-3"><b>About Us</b></h2>
        <p align="justify">
<!--            People often have crush on someone in their social circle. And they are often reluctant to express it, since it-->
<!--            may be an embarrassment if the other person doesn't feel the same way or it may affect their existing-->
<!--            friendship. Hidento aims to solve this problem by acting as a common middleman where people can register-->
<!--            their crushes without any fear of embarrassment or losing their friendship. Hidento is a stable matching-->
<!--            tool, which matches two users, if they have crush on each other, based on Instagram usernames. It creates-->
<!--            best possible match for each user with exactly one other user, therefore avoiding conflicts. Hidento is the-->
<!--            effort of a Bangalore based software engineer.-->

            There are tonnes of dating sites around the world. Most of them require costly membership plans and they are flooded with fake accounts.
The chances of finding a match in those sites are minuscule.<br><br>
Hidento aims to solve this problem by bringing back the age old practice of REFERRALS into the modern scenario. Hidento enables users to
anonymously send and receive dating referrals from their friends and social circle using their Instagram usernames. Hidento does not require
paid membership. And a fake account in Hidento will be of no use since Hidento accounts are not visible to anyone. All that users need to know
is the Instagram usernames of their friends.
<br><br>
Hidento is the effort a Bangalore based software engineer.
        </p>
    </div>
</center>
{% endblock %}