{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:6rem">
        <h3 class="mb-3 hidento-title-color"><b>Delete Account Confirmation</b></h3>
        <p style="text-align:left">Deleting your account will have the following consequences:</p>
        <ul style="text-align:left">
            <li>
                All your data will be deleted permanently, including your sent notes.
            </li>
            <li>
                If you have a match with any of your crushes, it will be broken.
            </li>
        </ul>
        <p style="text-align:left">If you wish to stop matchings temporarily, you can deactivate your crushes from your <a href="{% url 'crushList' %}">crush list</a>.
        </p>
        <p class="mb-4" style="text-align:left">Still want to delete your account? </p>
        <form method="post" action="{% url 'accountDelete' %}" id="hidentoform">
                            {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Yes, Delete My Account">
            <a href="{% url 'account' %}">
                <button type="button" class="btn btn-primary ml-3">No, Abort</button></a>
        </form>
    </div>
</center>
{% endblock %}