{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:2rem">
        <h3 class="mb-3 hidento-title-color"><b>Delete Account Confirmation</b></h3>
        <p style="text-align:left">Deleting your account will delete all your crushes from your crush list and break any stable or unstable match you currently have.
            Remember, you may have a match and not know about it, if it is unstable or your crush is chosen to be informed.<br><br>
            Hidento accounts are secret accounts and nobody will know that you have an account with Hidento, unless you get a stable match.
            If you wish to stop matchings temporarily, you can deactivate your crushes from your <a href="{% url 'crushList' %}">crush list</a>.
        </p>
        <p class="mb-4" style="text-align:left">Still want to delete your account? </p>
        <form method="post" action="{% url 'accountDelete' %}">
                            {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Yes, Delete My Account">
            <a href="{% url 'account' %}">
                <button type="button" class="btn btn-primary ml-3">No, Abort</button></a>
        </form>
    </div>
</center>
{% endblock %}