<a href="{% url 'index' %}"> Home </a>&nbsp&nbsp <a href="{% url 'logout' %}"> Logout </a><br><br>

  <h2>Add Secret Crush</h2><br><br>
{% if error is not None%}
  <p>{{error.message}}</p><br>
  {% if error.code == 1%}
    <a href="{% url 'linkInstagram' %}"> LinkInstagram </a>
  {% else %}
    <a href="{% url 'index' %}"> Go to Crushlist </a>
  {% endif %}
{% else %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Crush</button>
  </form>
  <a href="{% url 'index' %}"><button>Cancel</button></a>
{% endif %}