{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
    <div style="width:70%;margin-top:2.3rem;margin-bottom:1.8rem">
        <h2><b>Add Secret Crush</b></h2><br>
        {% if error is not None%}
        <p>{{error.message}}</p>
        {% if error.code == 1%}
        <a href="{% url 'linkInstagram' %}"> Link Instagram </a>
        {% else %}
        <a href="{% url 'crushList' %}"> Go to Crushlist </a>
        {% endif %}
        {% else %}
        <form method="post" id="hidentoform">
            {% csrf_token %}
            <!--            {{ form.as_table }}-->
            <input type="text" class="form-control" placeholder="Instagram Username of your crush" name="crushUsername"
                   maxlength="40" required id="id_crushUsername"
                   value="{% if form.crushUsername.value %}{{form.crushUsername.value}}{% endif %}" autofocus>
            <table style="width:100%"><tr><td>
            {% if form.crushUsername.errors %}
            {% for error in form.crushUsername.errors %}
            <div class="hidento-form-error">{{ error|escape }}</div>
            {% endfor %}
                {% endif %}</td>
                <td>
                    <div style="text-align:right"><button type="button" class="btn btn-primary pt-0 pb-0" id="instagramVerify"
                                                          style="font-size:0.7rem">Verify</button></div>
                </td>
            </tr></table>

            <input type="text" class="form-control mt-3"
                   placeholder="Nickname for your crush (Optional)" name="crushNickname"
                   maxlength="40" id="id_crushNickname"
                   value="{% if form.crushNickname.value %}{{form.crushNickname.value}}{% endif %}">
            <div style="text-align:right"><a style="font-size:0.7rem;" href="#" data-toggle="tooltip"
                                             data-placement="bottom" title="Your crush will be able
to see this nickname, if you get a match with this crush.">How this works</a>
            </div>
            <textarea class="form-control mt-3" placeholder="Message for your crush (Optional)"
                      name="crushMessage" maxlength="1000"
                      id="id_crushMessage">{%if form.crushMessage.value%}{{form.crushMessage.value}}{%endif%}</textarea>
            <div style="text-align:right"><a style="font-size:0.7rem;" href="#" data-toggle="tooltip"
                                             data-placement="bottom" title="Your crush will be able
to see this message, if you get a match with this crush.">How this works</a>
            </div>

            <input type="hidden" name="whomToInform" value="1" id="id_whomToInform">

<!--            <div style="text-align:left" class="mt-2">-->
<!--                <label class="hidento-label pr-3">Who should be informed, if matched?</label>-->
<!--                {% if form.whomToInform.value == '2' %}-->
<!--                <label for="id_whomToInform_0c" class="mr-3"><input type="radio" name="whomToInform" value="1" required-->
<!--                                                                    id="id_whomToInform_0c">-->
<!--                    Choose at random</label>-->
<!--                <label for="id_whomToInform_1c"><input type="radio" name="whomToInform" value="2" required-->
<!--                                                       id="id_whomToInform_1c" checked>-->
<!--                    Inform my crush</label>-->
<!--                {% else %}-->
<!--                <label for="id_whomToInform_0" class="mr-3"><input type="radio" name="whomToInform" value="1" required-->
<!--                                                                   id="id_whomToInform_0" checked>-->
<!--                    Choose at random</label>-->
<!--                <label for="id_whomToInform_1"><input type="radio" name="whomToInform" value="2" required-->
<!--                                                      id="id_whomToInform_1">-->
<!--                    Inform my crush</label>-->
<!--                {% endif %}-->
<!--            </div>-->

            <div style="text-align:left" class="mt-2">
                <table>
                    <tr>
                        <td>
                            <label for="id_priorityPosition" class="hidento-label pr-3 pt-2">Priority Position</label></td>
                        <td><select class="form-control" name="priorityPosition" required
                                    id="id_priorityPosition">
                            {% for priority, priority_string in priorities %}
                            {% if priority == form.priorityPosition.value %}
                            <option value="{{priority}}" selected>{{priority_string}}</option>
                            {% else %}
                            <option value="{{priority}}">{{priority_string}}</option>
                            {% endif %}
                            {% endfor %}

                        </select></td>
                    </tr>
                </table>
            </div>
            <br>
            <input class="btn btn-primary mr-3" type="submit" value="Add Crush">

            <a href="{% url 'crushList' %}">
                <button type="button" class="btn btn-primary">Cancel</button>
            </a>
        </form>
        {% endif %}
    </div>
</center>
{% endblock %}