<!DOCTYPE html>
<html style="height:100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hidento</title>
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
  </head>
  <body bgcolor="{{ WEBSITE_COLOR }}" style="height:100%;padding-top:6.5rem">
  <nav class="navbar is-spaced is-fixed-top">
      <div class="navbar-brand">
          <a href="{% url 'index' %}"><strong class="is-size-2 has-text-white">Hidento</strong></a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
             data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item" href="{% url 'howitworks' %}"> How It Works </a>
              <a class="navbar-item" href="{% url 'faq' %}"> FAQs </a>
              {% if request.user.is_authenticated %}
              <div class="navbar-item">
                  <div class="dropdown is-hoverable is-right">
                      <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                              <span style="color:{{ WEBSITE_COLOR }}">{{request.user.firstname}}</span>
                              <span style="color:{{ WEBSITE_COLOR }}" class="icon is-small">
                                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                              </span>
                          </button>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                          <div class="dropdown-content" style="width:9rem;float:right">
                              <a href="{% url 'account' %}" style="color:{{ WEBSITE_COLOR }}" class="dropdown-item">
                                  My Account
                              </a>
                              <a href="{% url 'logout' %}" style="color:{{ WEBSITE_COLOR }}" class="dropdown-item">
                                  Logout
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              {% endif %}
          </div>
      </div>
  </nav>
{% block content %}
{% endblock %}

    <div class="hero-foot">
            <div class="container">
                <div class="tabs is-right">
                    <ul>
                        <li><a href="{% url 'contactUs' %}">CONTACT</a></li>
                        <li><a href="{% url 'privacy' %}">PRIVACY</a></li>
                        <li><a href="{% url 'terms' %}">TERMS</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>
