<!DOCTYPE html>
<html style="height:100%;overflow:auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hidento</title>
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
  </head>
  <body bgcolor="{{ HIDENTO_BACKGROUND_COLOR }}" style="height:100%;padding-top:6.5rem;overflow:auto">
  <nav class="navbar is-spaced is-fixed-top">
      <div class="navbar-brand">
          <a href="{% url 'index' %}"><strong class="is-size-2 has-text-white">Hidento</strong></a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
             data-target="navbarMenu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item" href="{% url 'howitworks' %}"> How It Works </a>
              <a class="navbar-item" href="{% url 'faq' %}"> FAQs </a>
              {% if request.user.is_authenticated %}
              <div class="navbar-item">
                  <a class="navbar-item" href="{% url 'account' %}"> {{request.user.firstname}} </a>
                  <a class="navbar-item" href="{% url 'logout' %}"> Logout </a>
              </div>
              {% endif %}
          </div>
      </div>
  </nav>
{% block content %}
{% endblock %}

    <div class="hero-foot">
            <div class="container">
                <div class="tabs is-right">
                    <ul>
                        <li><a href="{% url 'contactUs' %}">CONTACT</a></li>
                        <li><a href="{% url 'privacy' %}">PRIVACY</a></li>
                        <li><a href="{% url 'terms' %}">TERMS</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>
