{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
    <div style="width:50%;margin-top:2.3rem;margin-bottom:3.5rem">
<h2 class="mb-4"><b>Reset Password</b></h2>

{% if form is None %}
      <p>Reset password link is not valid.</p>
{% else %}

  <form method="post">
    {% csrf_token %}
<!--    {{ form.as_p }}-->

<input class="form-control mt-3" type="password" name="new_password1" placeholder="New Password" required id="id_new_password1">
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
            <div class="hidento-form-error">{{ error|escape }}</div>
            {% endfor %}
            {% endif %}
<input class="form-control mt-3" type="password" name="new_password2" placeholder="Confirm New Password" required id="id_new_password2">
        <button class="btn btn-primary mt-4" type="submit">Change Password</button>
  </form>
{% endif %}
      </div>
</center>
{% endblock %}