{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:2rem" class="hidento-m-font-size">
{% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}

<h2 class="mb-3"><b>Contact Us</b></h2>
<p style="text-align:left">Please refer to <a href="{% url 'howitworks' %}"> How It Works </a> and <a href="{% url 'faq' %}"> FAQ </a> before contacting us.</p>

<form method="post" id="hidentoform">
  {% csrf_token %}
<!--  {{ form.as_p }}-->
  <input type="text" class="form-control" name="fullname" placeholder="Full Name" maxlength="255" style="font-size:1.1rem"
         value="{% if form.fullname.value %}{{form.fullname.value}}{% endif %}" required id="id_fullname">
<input type="email" class="form-control mt-3" name="email" placeholder="Email" maxlength="255" style="font-size:1.1rem"
       value="{% if form.email.value %}{{form.email.value}}{% endif %}" required id="id_email">
  {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="hidento-form-error">{{ error|escape }}</div>
            {% endfor %}
            {% endif %}
<textarea name="message" class="form-control mt-3" placeholder="Message" cols="10" rows="2" style="font-size:1.1rem;height:8rem;"
          maxlength="3000" required id="id_message">{% if form.message.value %}{{form.message.value}}{% endif %}</textarea>
  <input class="btn btn-primary mt-5" type="submit" value="Submit">
</form>
    </div>
</center>
{% endblock %}