{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:3rem">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <h2 class="hidento-title-color"><b>My Crushlist</b></h2>

        {% if instagram_crushes is None %}
        <p class="mt-4" style="text-align:justify">Hidento lets you find if any of your secret crushes have a crush on you. </p>
            <p style="text-align:justify">Tell us your Instagram username and add your crushes' Instagram usernames to the list.</p>
        <a href="{% url 'linkInstagram' %}" class="hidento-heading-color"> Verify Instagram Username </a>
        {% else %}
        {% if not instagram_crushes %}
        <p class="mt-4" style="text-align:justify">Hidento matches two people if they have secret crush on each other.</p> <p>You can add upto 5 secret crushes.</p>
        {% else %}
        <div class="mt-2 mb-3" style="font-size:0.9rem">Ordered by Priority: High to Low</div>
        <table class="hidento-m-font-size">
            {% for crush in instagram_crushes %}
            <tr>
                <td class="pr-5 pb-3 pt-3">
                    <div class="hidento-crush-username"> {{ crush.crushUsername }}</div>
                    <div class="hidento-crush-nickname">{{ crush.crushNickname }}</div>
                </td>
                <td>
                    <a href="{% url 'editCrush' crush.crushUsername %}">
                        <button class="btn hidento-link-cell hidento-font-color">
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>
        {% endif %}
        <a class="btn btn-primary mt-4" href="{% url 'addCrush' %}" style="font-size:1.1rem"> Add Secret Crush </a><br>
        {% endif %}
    </div>
</center>
{% endblock %}