{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:2rem">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <h2 class="hidento-title-color"><b>My Crushlist</b></h2>

        {% if instagram_crushes is None %}
        <div class="mt-3 mb-3">Instagram account not linked. Please link your instagram account to register your secret
            crushes.
        </div>
        <a href="{% url 'linkInstagram' %}" class="hidento-heading-color"> Link Instagram </a>
        {% else %}
        {% if not instagram_crushes %}
        <p class="mt-4">You have not added any secret crushes.</p>
        {% else %}
        <div class="mt-2 mb-3" style="font-size:0.9rem">Ordered by Priority: High to Low</div>
        <table class="hidento-m-font-size">
            {% for crush in instagram_crushes %}
            <tr>
                <td class="pr-5 pb-3 pt-3">
                    <div class="hidento-crush-username"> {{ crush.crushUsername }}</div>
                    <div class="hidento-crush-nickname">{{ crush.crushNickname }}</div>
                </td>
                <td>
                    <a href="{% url 'editCrush' crush.crushUsername %}">
                        <button class="btn hidento-link-cell">
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </a>
                </td>
            </tr>

            {% endfor %}
        </table>
        {% endif %}
        <a class="btn btn-primary mt-4" href="{% url 'addCrush' %}" style="font-size:1.1rem"> Add Secret Crush </a><br>
        {% endif %}
    </div>
</center>
{% endblock %}