<a href="{% url 'index' %}"> Home </a> &nbsp&nbsp <a href="{% url 'account' %}"> Account Details </a>&nbsp&nbsp
<a href="{% url 'logout' %}"> Logout </a><br><br>

<br><br>
Hi {{ user_firstname }}
<br><br>
{% if instagram_crushes is None %}
 <p>Instagram account not linked. Please link your instagram account to register your secret crushes</p><br>
 <a href="{% url 'linkInstagram' %}"> Link Instagram </a>
{% else %}
    <h2>Your Secret Crushes</h2>
    {% if not instagram_crushes %}
        <p>You have not added any secret crushes</p>
    {% else %}
        {% for crush in instagram_crushes %}
            Crush Username => {{ crush.crushUsername }}&nbsp&nbsp <a href="{% url 'editCrush' crush.crushUsername %}">Edit</a>
            <br>
            Crush Nickname => {{ crush.crushNickname }}<br><br>
        {% endfor %}
    {% endif %}
    <a href="{% url 'addCrush' %}"> Add Secret Crush </a><br>
{% endif %}