{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
    <div style="width:70%;margin-top:1.4rem;margin-bottom:3.5rem">
        <h2 class="mb-3"><b>Edit Interest</b></h2>
        {% if error is not None%}
        <p>{{error.message}}</p>
        {% if error.code == 1 %}
        <a href="{% url 'linkInstagram' %}"> Verify Instagram Username </a>
        {% elif error.code == 2 %}
        <a href="{% url 'addCrush' %}"> Add Interest </a>
        {% elif error.code == 3 %}
        <a href="{% url 'index' %}"> Go to Interests </a>
        {% endif %}
        {% else %}
        <form method="post" id="hidentoform">
            {% csrf_token %}
<!--                {{ form.as_p }}-->
            <!--    button should be disabled after clicking-->
          <div class="hidento-label mb-1" style="text-align:left">Instagram username of your Interest</div>
            <input type="text" class="form-control" placeholder="Instagram username of your Interest" name="crushUsername"
                   maxlength="40" required id="id_crushUsername"
                   value="{{crushUsername}}" disabled>
            <div style="text-align:right"><button type="button" class="btn btn-primary pt-0 pb-0" id="instagramVerify"
                                                          style="font-size:0.7rem">Verify</button></div>

          <div class="hidento-label mb-1" style="text-align:left">Nickname for your Interest</div>
          <input type="text" class="form-control"
                   placeholder="You haven't added a nickname" name="crushNickname"
                   maxlength="40" id="id_crushNickname"
                   value="{% if form.crushNickname.value %}{{form.crushNickname.value}}{% endif %}">
            <div style="text-align:right"><a style="font-size:0.7rem;" href="#" data-toggle="tooltip"
                                             data-placement="bottom" title="Your Interest will be able
to see this nickname, if you get a match with this Interest.">How this works</a></div>


          <div class="hidento-label mb-1" style="text-align:left">Message for your Interest</div>
            <textarea class="form-control" placeholder="You haven't added any message"
                      name="crushMessage" maxlength="1000"
                      id="id_crushMessage">{%if form.crushMessage.value%}{{form.crushMessage.value}}{%endif%}</textarea>
                <div style="text-align:right"><a style="font-size:0.7rem;" href="#" data-toggle="tooltip"
                                             data-placement="bottom" title="Your Interest will be able
to see this message, if you get a match with this Interest.">How this works</a></div>

<input type="hidden" name="whomToInform" value="1" id="id_whomToInform">

<!--          <div style="text-align:left" class="mt-1">-->
<!--                <label class="hidento-label pr-3">Who should be informed, if matched?</label>-->
<!--                {% if form.whomToInform.value == 2 %}-->
<!--                <label for="id_whomToInform_0c" class="mr-3"><input type="radio" name="whomToInform" value="1" required-->
<!--                                                                    id="id_whomToInform_0c">-->
<!--                    Choose at random</label>-->
<!--                <label for="id_whomToInform_1c"><input type="radio" name="whomToInform" value="2" required-->
<!--                                                       id="id_whomToInform_1c" checked>-->
<!--                    Inform my crush</label>-->
<!--                {% else %}-->
<!--                <label for="id_whomToInform_0" class="mr-3"><input type="radio" name="whomToInform" value="1" required-->
<!--                                                                   id="id_whomToInform_0" checked>-->
<!--                    Choose at random</label>-->
<!--                <label for="id_whomToInform_1"><input type="radio" name="whomToInform" value="2" required-->
<!--                                                      id="id_whomToInform_1">-->
<!--                    Inform my crush</label>-->
<!--                {% endif %}-->
<!--            </div>-->

            <div style="text-align:left" class="mt-2">
                <table>
                    <tr>
                        <td>
                            <label for="id_priorityPosition" class="hidento-label pr-3">Priority Position</label></td>
                        <td><select class="form-control" name="priorityPosition"
                                    id="id_priorityPosition">
                            {% for priority, priority_string in priorities %}
                            {% if priority == form.priorityPosition.value %}
                            <option value="{{priority}}" selected>{{priority_string}}</option>
                            {% else %}
                            <option value="{{priority}}">{{priority_string}}</option>
                            {% endif %}
                            {% endfor %}

                        </select></td>
                        <td class="pl-5 pr-3">
                            <label class="hidento-label">Active</label>
                        </td>
                        <td>{% if form.active.value == True %}
                            <input name="active" type="checkbox" value="True" class="edit_crush_activeClass" checked id="activeSwitchc">
                          {% else %}
                                 <input name="active" type="checkbox" value="True" class="edit_crush_activeClass" id="activeSwitch">
                          {%endif%}
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Save Changes" style="float:left">
        </form>
        <a href="{% url 'crushList' %}"><button type="button" class="btn btn-primary ml-3" style="float:left">Cancel</button></a>
            <form id="edit_crush_deleteForm" method="post" action="{% url 'deleteCrush' crushUsername %}">
                {% csrf_token %}
                <button id="edit_crush_deleteButton" style="float:right" class="btn btn-danger" type="submit">Delete Interest</button>
            </form>

        {% endif %}
    </div>
</center>
{% endblock %}