{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:3rem;margin-bottom:3rem">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="alert alert-warning">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p class="alert alert-warning">Please log in to see this page.</p>
        {% endif %}
        {% endif %}

        <div class="mt-4"><h2><b>Log in to Hidento</b></h2></div>
        {% if form.errors %}
        <div class="hidento-login-error mt-2 mb-1">Username or Password invalid</div>
        {% else %}
        <br>
        {% endif %}

        <form method="post" id="hidentoform">
            {% csrf_token %}
            <!--<table>-->
            <!--<tr>-->
            <!--    <td>{{ form.username.label_tag }}</td>-->
            <!--    <td>{{ form.username }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--    <td>{{ form.password.label_tag }}</td>-->
            <!--    <td>{{ form.password }}</td>-->
            <!--</tr>-->
            <!--</table>-->
            <input type="text" class="form-control" style="font-size:1.1rem" placeholder="Email or Username"
                   name="username"
                   value="{% if form.username.value %}{{form.username.value}}{% endif %}" required
                   id="id_username">

            <input type="password" class="form-control mt-2" style="font-size:1.1rem" placeholder="Password"
                   name="password" required
                   id="id_password">

            <input type="submit" class="btn btn-block btn-primary mt-4 mb-3" value="Log In">
            <input type="hidden" name="next" value="{{ next }}">

            <a href="{% url 'resetPassword' %}"> Lost Password? </a>
            <br>

            <div class="mt-3">Don't have an account? <a href="{% url 'signup' %}"> Sign Up </a></div>
        </form>
    </div>
</center>
{% endblock %}
