{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
    <div style="width:40%;margin-top:3rem;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="alert alert-warning">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p class="alert alert-warning">Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <h2><b>Log In to Hidento</b></h2>
        {% if form.errors %}
        <div class="hidento-login-error mt-2 mb-1">Username or Password invalid</div>
        {% else %}
        <br>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Email or Username" name="username"
                   value="{% if form.username.value %}{{form.username.value}}{% endif %}" autofocus required
                   id="id_username">

            <input type="password" class="form-control mt-3" placeholder="Password" name="password" required
                   id="id_password">
            <!--<table>-->
            <!--<tr>-->
            <!--    <td>{{ form.username.label_tag }}</td>-->
            <!--    <td>{{ form.username }}</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--    <td>{{ form.password.label_tag }}</td>-->
            <!--    <td>{{ form.password }}</td>-->
            <!--</tr>-->
            <!--</table>-->
            <input type="submit" class="btn btn-block btn-primary mt-4 mb-3" value="Log In">
            <input type="hidden" name="next" value="{{ next }}">

        <a href="{% url 'resetPassword' %}"> Lost Password? </a>
        <br>

        <div class="mt-3">Don't have an account? <a href="{% url 'signup' %}"> Sign Up </a></div>
   </form> </div>
</center>
{% endblock %}
