{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:3rem">
<h2 class="mb-4"><b>My Match</b></h2>
{% if matchDetails is None %}
        <p>You don't have a match yet.</p>
        <p style="text-align:justify">Match details will be shown here, if any of your secret crushes have crush on you.</p>
        <a href="{% url 'crushList' %}">Go to Crushlist</a>
{% else %}
    <h5>Congratulations! You have a match!!!</h5>
    <h3 class="mt-3 mb-5">You are matched with <b><a target="_blank" href="{{ matchDetails.instagramProfileLink }}">
        {{ matchDetails.match_instagram_username }}</a>
    {% if matchDetails.user_nickname_for_match %}
        ({{ matchDetails.user_nickname_for_match }})
        {% endif %}</b></h3>

        <div style="width:95%;text-align:left">
    {% if matchDetails.match_nickname_for_user %}
        <div class="mb-1"><b>Your match has a nickname for you</b></div>
    <p class="mb-4">{{ matchDetails.match_nickname_for_user }}</p>
    {% endif %}

    {% if matchDetails.match_message_for_user %}
        <div class="mb-1"><b>Your match has a message for you</b></div>
    <p style="text-align:justify">{{ matchDetails.match_message_for_user }}</p>
    {% endif %}
</div>

        <div class="mt-5"><h4>Hidento wishes you happy days ahead with your crush!</h4></div>
{% endif %}
    </div>
</center>
{% endblock %}
