{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:3rem">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <h2 class="hidento-title-color"><b>Suggestions Received</b></h2>

        {% if received_messages is None %}
        <div style="text-align:right" class="mt-4">
            <a href="{% url 'messageBlacklist' %}" data-toggle="tooltip" data-placement="left"
               title="You can blacklist users from whom you don't want to receive suggestions.">
                My Blacklist
            </a>
        </div>
        <div class="mt-4 mb-4" style="text-align:justify">Instagram account not linked. Link your Instagram account to be able to see the match suggestions
            received
            for your Instagram username.
        </div>
        <a href="{% url 'linkInstagram' %}" class="hidento-heading-color"> Link Instagram </a>
        {% else %}
        <p>For Instagram username - <b>{{instagram_username}}</b>&nbsp;&nbsp;
            {% if not received_message_error %}<span class="badge badge-pill badge-primary">{{received_messages|length}}</span>{% endif %}</p>
        <div style="text-align:right" class="mt-4">
            <a href="{% url 'messageBlacklist' %}" data-toggle="tooltip" data-placement="left"
               title="You can blacklist users from whom you don't want to receive suggestions.">
                My Blacklist
            </a>
        </div>
        {% if received_message_error %}
        <p class="mt-4" style="text-align:justify">{{received_message_error}}</p>
        {% else %}
        {% if not received_messages %}
        <p class="mt-4">Match suggestions sent to your Instagram username will be shown here.</p>
        <p class="mt-4">No suggestions to show at the moment.</p>
        {% else %}
        <div style="margin-top:3rem"></div>
        {% for message in received_messages %}
        <div class="hidento-note-background pb-3">
            <a href="https://www.instagram.com/{{message.sender_nickname}}" target="_blank"><h4 style="color:#55000c">{{message.sender_nickname}}</h4></a>
            {% if message.message %}
            <p style="text-align:left"><b>Message:</b>&nbsp;{{ message.message }}</p>
            {% endif %}
<!--            <table style="width:100%;table-layout:fixed">-->
<!--                <tr>-->
<!--                    <td style="text-align:left">-->
<!--                        <form method="post" action="{% url 'hideMessage' %}">-->
<!--                            {% csrf_token %}-->
<!--                            <input type="hidden" value="{{message.message_id}}" name="message_id">-->
<!--                            <button class="btn btn-light btn-sm p-0 pl-2 pr-2 receivedMessageHideButton"-->
<!--                                    style="font-size:0.65rem;" type="submit">Hide-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                    <td style="text-align:right;width:70%;word-wrap:break-word;">-->
<!--                        <b>- {{message.sender_nickname}}</b>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
            <form method="post" action="{% url 'hideMessage' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{message.message_id}}" name="message_id">
                            <button class="btn btn-primary p-1 pl-2 pr-2 mr-3" type="submit">Remove</button>

            <a href="{% url 'addCrush' %}?insta_name={{message.sender_nickname}}">
                            <button type="button" class="btn btn-primary pl-2 pr-2 p-1">Add to Likes</button>
                        </a>
            </form>
        </div>
        <br><br>
        {% endfor %}
        {% endif %}
        {% endif %}
        {% endif %}
    </div>
</center>
{% endblock %}