{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:6rem">
<h2 class="mb-4"><b>Reset Password</b></h2>
      <form method="post" id="hidentoform" >
    {% csrf_token %}
<!--  {{ form.as_p }}-->
        <p>Enter your email address and we'll send a link to reset your password.</p>
<input class="form-control" type="email" placeholder="Email" name="email" maxlength="254"
       value="{% if form.email.value %}{{form.email.value}}{% endif %}" style="font-size:1.1rem" required id="id_email">
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div class="hidento-form-error">{{ error|escape }}</div>
            {% endfor %}
            {% endif %}
  <input class="btn btn-primary mt-4" type="submit" value="Send Password Reset Link">
</form>
    </div>
</center>
{% endblock %}