{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
    <div style="margin-top:2.3rem;width:90%">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <h2 class="hidento-title-color"><b>Messages Sent</b></h2>

        {% if not sent_messages %}
        <p class="mt-4">You haven't sent any messages yet.</p>
        {% else %}
            {% for message in sent_messages %}
        <table style="width:100%">
            <tr>
                <td style="text-align:left">
                    <b>Receiver Instagram Username:</b>&nbsp;{{message.receiver_instagram_username}}
                </td>
                <td style="text-align:right">
                    <form id="sent_message_deleteForm" method="post" action="{% url 'deleteMessage' message.message_id %}">
                {% csrf_token %}
                <button id="send_message_deleteButton" class="btn btn-light btn-sm" style="color:red" type="submit">Delete&nbsp;<i class="far fa-trash-alt"></i></button>
            </form>
                </td>
            </tr>
        </table>

        <p>{{ message.message }}</p>
        <b>Sent as:</b>&nbsp;{{message.sender_nickname}}
        <br><br><br>
            {% endfor %}
        {% endif %}
        <a class="btn btn-primary mt-4" href="{% url 'sendMessage' %}"> Send New Message </a>
    </div>
</center>
{% endblock %}