{% extends 'secretcrushapp/base_m.html' %}

{% block content %}
<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-top:0.5rem;margin-bottom:3rem">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <h2 class="hidento-title-color"><b>Notes Sent</b></h2>

        {% if sent_messages is None %}
        <p>Link your Instagram account to send anonymous notes to your secret crushes.<br>
            (Don't worry, your identity won't be revealed.)</p>
        <a href="{% url 'linkInstagram' %}" class="hidento-heading-color"> Link Instagram </a>
        {% else %}
        {% if not sent_messages %}
        <p class="mt-4">You can send anonymous notes to your secret crushes.</p>
        {% else %}
        <div style="margin-top:3rem"></div>
        {% for message in sent_messages %}
        <div class="hidento-note-background">
        <p style="text-align:left" class="mb-2"><b>Receiver Instagram:</b>&nbsp;{{message.receiver_instagram_username}}</p>
        <p style="text-align:left" class="mb-2"><b>Note: </b>{{ message.message }}</p>
        <table style="width:100%;table-layout:fixed">
            <tr>
                <td style="text-align:left;width:80%;word-wrap:break-word;">
                    <b>Sent as: </b>{{message.sender_nickname}}
                </td>
                <td style="text-align:right">
                    <form method="post" action="{% url 'deleteMessage' %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{message.message_id}}" name="message_id">
                        <button class="btn btn-light btn-sm p-0 pl-1 pr-1 sentMessageDeleteButton"
                                style="font-size:0.65rem;color:#ff5555 !important" type="submit">
                            Delete&nbsp;<i class="material-icons" style="font-size:0.65rem;vertical-align:middle;padding-bottom:0.2rem">delete_outline</i></button>
                    </form>
                </td>
            </tr>
        </table>
        </div>
        <br><br>
        {% endfor %}
        {% endif %}
        <a class="btn btn-primary mt-3" href="{% url 'sendMessage' %}"> Send a Note </a>
        {% endif %}
    </div>
</center>
{% endblock %}