{% extends 'secretcrushapp/base_d.html' %}

{% block content %}
<center>
<div class="row" style="position:absolute;width:100%;top:47%;-webkit-transform:translateY(-50%);padding-left:1rem;padding-right:1rem;">
    <div class="col-sm-8">
        <h3 class="mb-4">A Secret Crush Register!</h3>

            <p style="text-align:left"><b>
                Find your secret crush on this Valentine's day! Hidento matches two people if they have secret crush on each other, based on their Instagram usernames.
            </b></p>
            <div style="text-align:left;width:80%">
            <p>1. Sign Up and link your Instagram Account. (Hidento Accounts are secret accounts and not visible to anyone.)</p>
        <p>2. Enter the Instagram usernames of your secret crushes in priority order.</p>
        <p>3. Indirectly, let your crushes know about this website.</p>
        </div>
        <p style="text-align:left"><b>
            <!--                When a stable match is formed, Hidento informs one of the users in the match.-->
            Match results will be available from 14th February, 2020 onwards.</b></p>
        <a href="{% url 'howitworks' %}" class="btn btn-primary mt-3"><b>See How It Works</b></a>
    </div>
    <div class="col-sm-4">
<h3 class="mb-4 hidento-title-color">Create an Account</h3>
<form method="post" action="{% url 'signup' %}" id="hidentoform">
{% csrf_token %}
    <input type="text" class="form-control mb-2" placeholder="Email" name="email" autofocus required id="id_email">
        <input type="text" class="form-control mb-2" placeholder="Full Name" name="fullname" required id="id_fullname">

    <input type="password" class="form-control mb-2" placeholder="New Password" name="password" required id="id_password">
    <input type="radio" name="gender" value="1" required id="gender_male">&nbsp;<label for="gender_male">Male</label>
    <input type="radio" class="ml-3" name="gender" value="2" required id="gender_female">&nbsp;<label for="gender_female">Female</label>
    <input type="radio" class="ml-3" name="gender" value="3" required id="gender_other">&nbsp;<label for="gender_other">Other</label>


<input type="submit" class="btn btn-block btn-primary mt-2 mb-2" value="Sign Up">
    <p class="hidento-light-color" style="font-size:0.9rem">By signing up, you agree to our
        <a class="hidento-light-color" target="_blank" href="{% url 'terms' %}"><b>Terms of Service</b></a> and
        <a class="hidento-light-color" target="_blank" href="{% url 'privacy' %}"><b>Privacy Policy</b></a>.</p>
</form>

Have an account already? <a href="{% url 'login' %}"> Log In </a><br>

</div>
    <div class="clearfix"></div>
</div>
    </center>
{% endblock %}