{% extends 'secretcrushapp/base_m.html' %}
{% block content %}

<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-bottom:3rem">
        <div class="mb-5">
            <h3 class="mb-4 hidento-title-color">Find your secret crush!</h3>
            <h4 style="text-align:left"><b>
                Sign Up and Register the Instagram usernames of your secret crushes.
                </b></h4>

            <p class="mt-3" style="text-align:left"><b>
                Indirectly let them know about this site.
        </b></p>
        <h4 style="text-align:left"><b>
                If you have crush on each other, we'll let both of you know.
            </b></h4>
        <p class="mt-3" style="text-align:left"><b>
                Otherwise, your crushes remain secret.
        </b></p>

<!--        <div class="mt-4" style="text-align:left">-->
<!--        <p>1. Sign Up and link your Instagram Account. (Hidento Accounts are secret accounts and not visible to anyone.)</p>-->
<!--        <p>2. Send anonymous notes to your crushes using their Instagram usernames.</p>-->
<!--        <p>3. Indirectly, let your crushes know about this website.</p>-->
<!--        </div>-->
<!--            <p style="text-align:left"><b>-->
<!--                When a stable match is formed, Hidento informs one of the users in the match.-->
<!--                Notes received will be visible from 14th February, 2020 onwards.-->
<!--            </b></p>-->
            <a href="{% url 'howitworks' %}" class="btn btn-primary mt-4"><b>See How It Works</b></a>
        </div>

        <div class="mb-5">

<h4 class="mb-3 hidento-title-color">Create an Account</h4>
            <form method="post" action="{% url 'signup' %}" class="hidento-m-font-size" id="hidentoform">

                {% csrf_token %}
                <input type="text" class="form-control mb-3" style="font-size:1.1rem" placeholder="Email" name="email" required
                       id="id_email">
                <input type="text" class="form-control mb-3" style="font-size:1.1rem" placeholder="Full Name" name="fullname" required
                       id="id_fullname">

                <input type="password" class="form-control mb-3" style="font-size:1.1rem" placeholder="New Password" name="password" required
                       id="id_password">
                <input type="radio" name="gender" value="1" required id="gender_male">&nbsp;<label for="gender_male">Male</label>
                <input type="radio" class="ml-3" name="gender" value="2" required id="gender_female">&nbsp;<label
                    for="gender_female">Female</label>
                <input type="radio" class="ml-3" name="gender" value="3" required id="gender_other">&nbsp;<label
                    for="gender_other">Other</label>
                <br>

                <input type="submit" class="btn btn-block btn-primary mt-3 mb-2" value="Sign Up">
                <p class="hidento-light-color" style="font-size:0.9rem">By signing up, you agree to our
        <a class="hidento-light-color" target="_blank" href="{% url 'terms' %}"><b>Terms of Service</b></a> and
        <a class="hidento-light-color" target="_blank" href="{% url 'privacy' %}"><b>Privacy Policy</b></a>.</p>

            Have an account already? <a href="{% url 'login' %}"> Log In </a><br>
            </form>
        </div>
    </div>
</center>
{% endblock %}