{% extends 'secretcrushapp/base_m.html' %}
{% block content %}

<center>
    <div class="hidento-m-font-size" style="padding-left:1rem;padding-right:1rem;margin-bottom:3rem">
        <div class="mt-3 mb-5">
            <h3 class="mb-4 hidento-title-color" style="text-align:leftr">What is Hidento?</h3>
<!--            <h5 style="text-align:justify" class="mt-4"><b>-->
<!--&lt;!&ndash;                Hidento lets you find if any of your secret crushes have a crush on you, based on Instagram usernames.&ndash;&gt;-->
<!--&lt;!&ndash;            Have a secret crush on someone? Nervous about expressing it to them?&ndash;&gt;-->
<!--                Who would be a good match for you? Your friends know better than dating sites.-->
<!--Get dating referrals from your friends and social circle!-->
<!--            </b></h5>-->

            <p style="text-align:justify" class="mt-4"><b>
<!--                No worries! Hidento will act as your middleman.-->
<!--                Know someone who would be a perfect match for your friend? Refer them to each other.-->
            Hidento is a dating site for people who wish to keep their dating life totally private.
        Most people are reluctant to create a public dating profile. They don’t want everyone to know that they are open for dating.
            At Hidento, nobody can see anybody’s account.
            Nobody will even know you have an account in Hidento.
            </b></p>

            <p style="text-align:justify" class="mt-4"><b>
<!--                Create a secret account and add your secret crushes to your crushlist.-->
<!--                No need for a public profile. Send and receive referrals using Instagram usernames!-->
            Then how does this work? Using Instagram usernames. You can connect your Hidento account with your Instagram username.
            Your friends and followers can send dating referrals to you using your Instagram username. All referrals are anonymous.
            If you like any of the referrals received, you can add them to your Interests list. Hidento will match two people if they are interested in each other. You can also add someone as your Interest directly. This will help you find if your secret crush is interested in you.
<br><br>
No membership fees. No problem of fake accounts. Happy dating at Hidento!
            </b></p>

<!--            <p class="mt-3" style="text-align:left"><b>-->
<!--                Indirectly let them know about this site.-->
<!--        </b></p>-->
<!--        <h4 style="text-align:left" class="mt-5"><b>-->
<!--                Sign Up and Register your secret crushes.-->
<!--            </b></h4>-->
<!--        <p class="mt-3" style="text-align:left"><b>-->
<!--                Otherwise, your crushes remain secret.-->
<!--        </b></p>-->

<!--        <div class="mt-4" style="text-align:left">-->
<!--        <p>1. Sign Up and link your Instagram Account. (Hidento Accounts are secret accounts and not visible to anyone.)</p>-->
<!--        <p>2. Send anonymous notes to your crushes using their Instagram usernames.</p>-->
<!--        <p>3. Indirectly, let your crushes know about this website.</p>-->
<!--        </div>-->
<!--            <p style="text-align:left"><b>-->
<!--                When a stable match is formed, Hidento informs one of the users in the match.-->
<!--                Notes received will be visible from 14th February, 2020 onwards.-->
<!--            </b></p>-->
<!--            <a href="{% url 'howitworks' %}" class="btn btn-primary btn-sm mt-4"><b>See How It Works</b></a>-->

<!--            <h4 style="text-align:justify" class="hidento-heading-color mt-5"><b>-->
<!--                Help your friend find his/her secret crush!-->
<!--                </b></h4>-->
<!--            <a href="whatsapp://send?text=Find your secret crush @ https://www.hidento.com" class="btn btn-primary btn-sm mt-3"-->
<!--        style="color:#FFFFFF !important;background-color:#25D366 !important"><b><i class="fa fa-whatsapp"></i> Share to a Friend</b></a>-->
        </div>

        <div class="mb-5">

<h3 class="mb-3 hidento-title-color">Create an Account</h3>
            <form method="post" action="{% url 'signup' %}" class="hidento-m-font-size" id="hidentoform">

                {% csrf_token %}
                <input type="text" class="form-control mb-3" style="font-size:1.1rem" placeholder="Email" name="email" required
                       id="id_email">
                <input type="text" class="form-control mb-3" style="font-size:1.1rem" placeholder="Full Name" name="fullname" required
                       id="id_fullname">

                <input type="password" class="form-control mb-3" style="font-size:1.1rem" placeholder="New Password" name="password" required
                       id="id_password">
                <input type="radio" name="gender" value="1" required id="gender_male">&nbsp;<label for="gender_male">Male</label>
                <input type="radio" class="ml-3" name="gender" value="2" required id="gender_female">&nbsp;<label
                    for="gender_female">Female</label>
                <input type="radio" class="ml-3" name="gender" value="3" required id="gender_other">&nbsp;<label
                    for="gender_other">Other</label>
                <br>

                <input type="submit" class="btn btn-block btn-primary mt-3 mb-2" value="Sign Up">
                <p class="hidento-light-color" style="font-size:0.9rem">By signing up, you agree to our
        <a class="hidento-light-color" target="_blank" href="{% url 'terms' %}"><b>Terms of Service</b></a> and
        <a class="hidento-light-color" target="_blank" href="{% url 'privacy' %}"><b>Privacy Policy</b></a>.</p>

            Have an account already? <a href="{% url 'login' %}"> Log In </a><br>
            </form>
        </div>
    </div>
</center>
{% endblock %}